* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.hide {
  display: none !important;
}

h1, h2 {
  position: absolute;
  left: 10px;
}
h1 {
  top: 10;
}
h2 {
  top: 35px;
}

.canvas {
  width: 100%;
  height: 100%;
  user-select: none;
}

.score-axis-title {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: rotate(-90deg);
}

.legend {
  width: 260px;
  position: absolute;
  top: 75px;
  right: 75px;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.legend > .category {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.legend > .category:hover {
  font-size: 15px;
}
.legend > .category.inactive {
  opacity: 0.5;
}
.legend > .category > .svg {
  width: 14px;
  height: 14px;
  margin: 5px;
}
.legend > .category > .text {
  margin: auto 0px;
}

.tooltip {
  position: absolute;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  background: white;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

a {
  text-decoration: none;
}
